<link rel="shortcut icon" href="/static/favicon.png">
<!--<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>-->
<!--<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet"/>-->
<!--<link href="/static/css/bootstrap.css" rel="stylesheet"/>-->
<link href="http://www.docker.io/static/css/bootstrap-custom.css" rel="stylesheet"/>
<link href="http://www.docker.io/static/css/main.css" rel="stylesheet"/>
<!--<link href="/static/css/bootstrap.spacelab.min.css" rel="stylesheet"/>-->
<!--<link href="/static/css/style.min.css" rel="stylesheet"/>-->
<!--<link href="/static/css/main.css" rel="stylesheet"/>-->
<link href="/static/css/variables.css" rel="stylesheet"/>
<!--<link href="/static/css/docs.css" rel="stylesheet"/>-->
<link href="/static/css/pygments-manni.css" rel="stylesheet"/>
<link href='http://fonts.googleapis.com/css?family=Arbutus+Slab&family=Cabin:600&family=Source+Code+Pro' rel='stylesheet' type='text/css'>
