    <!-- navigation -->
    <div id="topmostnav" class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container" >
                <a href="/" title="Homepage"><div class="brand logo"><img src="/static/img/docker-top-logo.png"> </div></a>
                <ul class="nav pull-right">
                    <li class="active"><a href="/" title="Homepage">Home</a></li>
                    <li class=""><a href="/learn_more/" title="Learn more about Docker">Learn More</a></li>
                    <li class=""><a href="/gettingstarted/" title="Get Started with Docker">Getting started</a></li>
                    <li class=""><a href="/community/" title="The Docker Community">Community</a></li>
                    <li><a href="http://docs.docker.io" title="Docker Documentation">Documentation</a></li>
                    <li><a href="http://blog.docker.io" title="Blog">Blog</a></li>
                    <li><a href="https://index.docker.io" title="Docker Image Index, find images here">INDEX<img class="inline-icon" src="/static/img/external-link-icon.png" title="external link"> </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="stickynav" class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container" >
                <ul class="nav nav-login pull-right">
                    
                        <li class=""><a href="/account/signup/" title="Sign Up">sign up</a></li>
                        <li class=""><a href="/account/" title="Go you your profile">login</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- end of navigation -->

    
